{% extends "Ergo/templates/page.html" %}
{% block head %}
{{ super() }}
<script src="/nodarkreader.min.js" async></script>
<script src="/webmention.min.js" async></script>
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="leo homestuck">
<meta property="og:image" content="/img/vriska2.png">
<meta name="color-scheme" content="{{ config.extra.color_themes[0] }}"/>
<meta name="darkreader" content="NO-DARKREADER-PLUGIN"/>
<link rel="webmention" href="https://webmention.io/vriska.dev/webmention" />
<link rel="pingback" href="https://webmention.io/vriska.dev/xmlrpc" />
{% endblock %}
{% block post %}
{{ super() }}
{% if page.extra.mastodon %}
<hr>
<footer class="syndication-links">
Respond to this post on <a class="u-syndication" href="{{ page.extra.mastodon }}">Mastodon</a>.
</footer>
{% endif %}
<div id="webmentions"></div>
{% endblock %}
